:root {
  --vp-c-brand: #165dff;
  --vp-c-brand-lighter: #3491fb;
  --vp-c-brand-light: var(--vp-c-brand-lighter);
  --vp-button-brand-border: var(--vp-c-brand-lighter);
  --vp-button-brand-hover-bg: #306fff;
  --vp-button-brand-hover-border: var(--vp-c-brand-lighter);
  --vp-button-brand-active-border: var(--vp-c-brand-lighter);
  --vp-button-brand-active-bg: var(--vp-c-brand);
  --vp-c-brand-dark: var(--vp-c-brand-lighter);
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(92.06deg, #33c2ff -17.9%, #257cff 43.39%, #165dff 99.4%);

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(92.06deg, #33c2ff -17.9%, #257cff 43.39%, #165dff 99.4%);
  --vp-home-hero-image-filter: blur(150px);
}

/* 表格的样式覆盖 */
.vp-doc[class~="_guide_start"] table th,
.vp-doc[class~="_guide_start"] table td {
  min-width: 130px;
}

.vp-doc:not([class~="_guide_start"]) table {
  border: 1px solid #e5e6ec;
}

.vp-doc table {
  width: 100%;
  border-radius: 5px;
}

.dark table {
  border-color: #484849;
}

.vp-doc thead tr {
  border-top: none;
}

.vp-doc thead th {
  color: rgb(29, 33, 41);
  background-color: #f2f3f5;
}

.dark .vp-doc thead th {
  color: #f6f6f6;
  background-color: #2e2e30;
}

.vp-doc:not([class~="_guide_start"]) tbody td:first-child {
  width: 150px;
}

.vp-doc:not([class~="_guide_start"]) tbody td:nth-child(2) {
  width: 70%;
}

.vp-doc:not([class~="_guide_start"]) tbody td:nth-child(3) {
  min-width: 200px;
}

.vp-doc:not([class~="_guide_start"]) tbody td:last-child {
  min-width: 100px;
}

.vp-doc:not([class~="_guide_start"]) tbody td:nth-child(3),
.vp-doc:not([class~="_guide_start"]) tbody td:nth-child(4),
.vp-doc:not([class~="_guide_start"]) tbody td:nth-child(3) code,
.vp-doc:not([class~="_guide_start"]) tbody td:nth-child(4) code {
  color: #3c7eff;
  background-color: transparent;
}

.vp-doc:not([class~="_guide_start"]) tbody tr:hover {
  background-color: #f7f8fa;
}

.dark .vp-doc:not([class~="_guide_start"]) tbody tr:hover {
  background-color: #202023;
}

.vp-doc:not([class~="_guide_start"]) tr:nth-child(2n) {
  background-color: transparent;
}

.vp-doc:not([class~="_guide_start"]) td,
.vp-doc:not([class~="_guide_start"]) th {
  border: none;
}

/* 侧边栏的样式覆盖 */
.VPSidebarItem a p {
  transform: translateX(10px);
}

.VPSidebarItem .item:not([role="button"]) a:hover {
  background-color: #d7d7e9;
  border-radius: 5px;
}

.dark .VPSidebarItem .item:not([role="button"]) a:hover {
  background-color: #313136;
}

/* 目录大纲的样式覆盖 */
.VPDocAsideOutline nav {
  transform: translateX(1em);
}

.VPDocAsideOutline nav a.outline-link.active {
  color: var(--vp-c-brand);
}

.VPDocAsideOutline nav .outline-link:hover {
  color: rgb(15, 15, 16, 0.92);
}

.VPDocAsideOutline nav ul {
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  list-style: none;
  margin-top: 0;
}

.VPDocAsideOutline .outline-marker {
  width: 4px;
  border-radius: 0 4px 4px 0;
}

/* 页脚的样式覆盖 */
  .VPFooter .message a:hover {
    color: #257cff;
  }